<h1>
  Product List
</h1>

{{productList | json}}
<table class="table">
  <thead>
    <tr>
      <th>Index</th>
      <th>IsEven</th>
      <th>IsOdd</th>
      <th>Name</th>
      <th>Margin</th>
      <th>Price</th>
      <th>Mfd</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="isEven? 'isEven': 'isOdd'" *ngFor="let product of productList;
    let i=index; let isEven=even; let isOdd= odd;
    trackBy: trackByFn">
      <td>{{i}}</td>
      <td>{{isEven}}</td>
      <td>{{isOdd}}</td>
      <td>{{product.name}}</td>
      <td>{{product.margin}}</td>
      <td>{{product.price}}</td>
      <td>{{product.mfd}}</td>
    </tr>
  </tbody>
</table>
