<!--The content below is only a placeholder and can be replaced.-->

Product Count : {{productCount}}
<!-- {{empList  | json}}
<button class="btn btn-danger" (click)="addEmployee()">
  Add Employee
</button> -->
<!-- <app-container>
  <div>
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div> -->
  <!-- <app-employee></app-employee> -->
  <!-- <app-product></app-product> -->
<!-- </app-container> -->

<!--
<div [ngSwitch]="role">
  <div *ngSwitchCase="'Admin'">
    <app-product></app-product>
  </div>
  <div *ngSwitchCase="'User'">
    This is user view.
  </div>
  <div *ngSwitchDefault>
    This is default view.
  </div>
</div> -->
<app-posts></app-posts>
